* {
  margin: 0;
  padding: 0;  
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    max-width: 95%;
    height: 90%;
    box-shadow: rgba(99, 99, 99, 0.322) 0px 2px 2px 0px; 
}

section {
    display: flex;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    flex-direction: column;
    gap: 0.4rem;
}

header, footer{
    background: rgba(0, 0, 0, 0.692);
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 0.2rem;
    color: white
}

h5 {
    color: rgba(0, 0, 0, 0.642);
}

p, span{
    margin: 0 0.5rem;
}

span {
    font-size: 10px;
    color: rgba(245, 245, 245, 0.705);
}

.my_message {
    display: grid;
    padding: 0.5rem 0.2rem;
    justify-items: end;
    align-self: flex-end;
    background-color: #8ac1e0;
    width: min(300px);
    border-radius: 1rem 1rem 0rem 1rem;
}

.att_message {
    display: grid;
    background-color: rgba(69, 103, 141, 0.63);
    padding: 0.5rem 0.2rem;
    width: min(300px);
    border-radius: 0rem 1rem 1rem 1rem;
}

.my_name{
    align-self: flex-end;
}

footer input {
  height: 1.2rem;
  width: 100%;
  margin: 0 0.5rem;
  border-radius: 1rem;
  border: none;  
}

.menssage_dig{
    padding: 5px;
}

footer button {
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    font-size: 12px;
}
 
.btn_enviar{
    background-color: #a4c9e8;
    box-shadow:0 2px 0 rgba(69, 103, 141, 0.63);
}

.btn_enviar:hover{
    background:rgba(69, 103, 141, 0.63);
}

.btn_enviar:active{
    position:relative;
    top:1px;
    box-shadow:none;
  }

